body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1219px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:60px;
  background:inherit;
  background-color:rgba(244, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:60px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:22px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:940px;
  background:inherit;
  background-color:rgba(45, 48, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919 {
  position:absolute;
  left:30px;
  top:60px;
  width:190px;
  height:940px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:462px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1921 {
  position:absolute;
  left:50px;
  top:176px;
  width:121px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1924 {
  position:absolute;
  left:40px;
  top:22px;
  width:83px;
  height:20px;
  color:#000000;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:60px;
  background:inherit;
  background-color:rgba(45, 48, 55, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1926 {
  position:absolute;
  left:30px;
  top:1000px;
  width:1030px;
  height:60px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:22px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(45, 48, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u1928 {
  position:absolute;
  left:520px;
  top:1009px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1930 {
  position:absolute;
  left:533px;
  top:1036px;
  width:29px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:2px;
}
#u1932 {
  position:absolute;
  left:505px;
  top:1032px;
  width:90px;
  height:1px;
  color:#999999;
}
#u1933 {
  position:absolute;
  left:2px;
  top:-8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1934 {
  position:absolute;
  left:50px;
  top:208px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1936 {
  position:absolute;
  left:50px;
  top:239px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1938 {
  position:absolute;
  left:50px;
  top:138px;
  width:101px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u1940 {
  position:absolute;
  left:50px;
  top:168px;
  width:170px;
  height:1px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u1942 {
  position:absolute;
  left:50px;
  top:269px;
  width:170px;
  height:1px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1944 {
  position:absolute;
  left:941px;
  top:15px;
  width:12px;
  height:12px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946 {
  position:absolute;
  left:200px;
  top:60px;
}
#u1946_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1946_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:940px;
  background:inherit;
  background-color:rgba(244, 246, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:940px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:462px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1949 {
  position:absolute;
  left:212px;
  top:69px;
  width:808px;
  height:51px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:18px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#003037;
}
#u1951 {
  position:absolute;
  left:221px;
  top:77px;
  width:113px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#003037;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1951_ann {
  position:absolute;
  left:327px;
  top:73px;
  width:1px;
  height:1px;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1953 {
  position:absolute;
  left:214px;
  top:130px;
  width:804px;
  height:20px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
.u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:20px;
}
.u1957 {
  position:absolute;
  left:2px;
  top:2px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:28px;
}
.u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
.u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
.u1960 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
.u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
.u1961 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:23px;
}
.u1962 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
.u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
.u1963 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:23px;
}
.u1964 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
.u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
.u1965 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:23px;
}
.u1966 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
.u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
.u1967 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:23px;
}
.u1968 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
.u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
.u1969 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:23px;
}
.u1970 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
.u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
.u1971 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:23px;
}
.u1972 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
.u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
.u1973 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:23px;
}
.u1974 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
.u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
.u1975 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:23px;
}
.u1976 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
.u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
.u1977 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:23px;
}
.u1978 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1955-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:23px;
}
#u1955-2 {
  position:absolute;
  left:0px;
  top:23px;
  width:1006px;
  height:23px;
}
#u1955-3 {
  position:absolute;
  left:0px;
  top:46px;
  width:1006px;
  height:23px;
}
#u1955-4 {
  position:absolute;
  left:0px;
  top:69px;
  width:1006px;
  height:23px;
}
#u1955-5 {
  position:absolute;
  left:0px;
  top:92px;
  width:1006px;
  height:23px;
}
#u1955-6 {
  position:absolute;
  left:0px;
  top:115px;
  width:1006px;
  height:23px;
}
#u1955 {
  position:absolute;
  left:213px;
  top:184px;
  width:1006px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1980 {
  position:absolute;
  left:211px;
  top:160px;
  width:1006px;
  height:20px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:2px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982 {
  position:absolute;
  left:214px;
  top:160px;
  width:1005px;
  height:28px;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1985 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:23px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1987 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:23px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1989 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:23px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1991 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:23px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1993 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:23px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1995 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:23px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1997 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:23px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1999 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:23px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u2001 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:23px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
