body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-70px;
  width:610px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:360px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:40px;
  width:610px;
  height:360px;
  text-align:left;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:606px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:300px;
  width:100px;
  height:60px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
