body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1060px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:60px;
  background:inherit;
  background-color:rgba(244, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1151 {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:60px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:22px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:940px;
  background:inherit;
  background-color:rgba(45, 48, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1153 {
  position:absolute;
  left:30px;
  top:60px;
  width:190px;
  height:940px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:462px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1155 {
  position:absolute;
  left:50px;
  top:176px;
  width:121px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1156 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1157 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1158 {
  position:absolute;
  left:40px;
  top:22px;
  width:83px;
  height:20px;
  color:#000000;
}
#u1159 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:60px;
  background:inherit;
  background-color:rgba(45, 48, 55, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1160 {
  position:absolute;
  left:30px;
  top:1000px;
  width:1030px;
  height:60px;
}
#u1161 {
  position:absolute;
  left:2px;
  top:22px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(45, 48, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u1162 {
  position:absolute;
  left:520px;
  top:1009px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u1163 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1164 {
  position:absolute;
  left:533px;
  top:1036px;
  width:29px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1165 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:2px;
}
#u1166 {
  position:absolute;
  left:505px;
  top:1032px;
  width:90px;
  height:1px;
  color:#999999;
}
#u1167 {
  position:absolute;
  left:2px;
  top:-8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1168 {
  position:absolute;
  left:50px;
  top:208px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1169 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1170 {
  position:absolute;
  left:50px;
  top:239px;
  width:41px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1171 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1172 {
  position:absolute;
  left:50px;
  top:138px;
  width:101px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#BEC2C9;
}
#u1173 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u1174 {
  position:absolute;
  left:50px;
  top:168px;
  width:170px;
  height:1px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u1176 {
  position:absolute;
  left:50px;
  top:269px;
  width:170px;
  height:1px;
}
#u1177 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1178 {
  position:absolute;
  left:941px;
  top:15px;
  width:12px;
  height:12px;
}
#u1179 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180 {
  position:absolute;
  left:200px;
  top:60px;
}
#u1180_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1180_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:940px;
  background:inherit;
  background-color:rgba(244, 246, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1181 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:940px;
}
#u1182 {
  position:absolute;
  left:2px;
  top:462px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1183 {
  position:absolute;
  left:212px;
  top:69px;
  width:808px;
  height:51px;
}
#u1184 {
  position:absolute;
  left:2px;
  top:18px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#003037;
}
#u1185 {
  position:absolute;
  left:221px;
  top:77px;
  width:191px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#003037;
}
#u1186 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u1185_ann {
  position:absolute;
  left:405px;
  top:73px;
  width:1px;
  height:1px;
}
#u1187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:858px;
}
#u1187 {
  position:absolute;
  left:214px;
  top:132px;
  width:806px;
  height:858px;
}
#u1188 {
  position:absolute;
  left:2px;
  top:421px;
  width:802px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1190 {
  position:absolute;
  left:252px;
  top:138px;
  width:37px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1194 {
  position:absolute;
  left:464px;
  top:139px;
  width:69px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1195 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1196 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1198 {
  position:absolute;
  left:731px;
  top:138px;
  width:53px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1199 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1205 {
  position:absolute;
  left:220px;
  top:171px;
  width:69px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1205_ann {
  position:absolute;
  left:282px;
  top:167px;
  width:1px;
  height:1px;
}
#u1207 {
  position:absolute;
  left:299px;
  top:171px;
  width:71px;
  height:22px;
}
#u1207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1207_input:disabled {
  color:grayText;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1209 {
  position:absolute;
  left:281px;
  top:268px;
  width:81px;
  height:22px;
}
#u1209_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 209, 210, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1209.selected {
}
#u1209_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1209.disabled {
}
#u1210 {
  position:absolute;
  left:2px;
  top:3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1212 {
  position:absolute;
  left:303px;
  top:338px;
  width:638px;
  height:22px;
}
#u1212_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 209, 210, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1212.selected {
}
#u1212_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1212.disabled {
}
#u1213 {
  position:absolute;
  left:2px;
  top:3px;
  width:634px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1220 {
  position:absolute;
  left:706px;
  top:266px;
  width:69px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1220_ann {
  position:absolute;
  left:768px;
  top:262px;
  width:1px;
  height:1px;
}
#u1222 {
  position:absolute;
  left:785px;
  top:264px;
  width:71px;
  height:22px;
}
#u1222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1222_input:disabled {
  color:grayText;
}
#u1223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1227 {
  position:absolute;
  left:299px;
  top:138px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1229 {
  position:absolute;
  left:543px;
  top:138px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u1230 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1231 {
  position:absolute;
  left:795px;
  top:138px;
  width:145px;
  height:22px;
  font-size:16px;
}
#u1232 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1233 {
  position:absolute;
  left:464px;
  top:172px;
  width:69px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1235 {
  position:absolute;
  left:543px;
  top:172px;
  width:71px;
  height:22px;
}
#u1235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1235_input:disabled {
  color:grayText;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1236 {
  position:absolute;
  left:744px;
  top:171px;
  width:37px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1238 {
  position:absolute;
  left:791px;
  top:171px;
  width:71px;
  height:22px;
}
#u1238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1238_input:disabled {
  color:grayText;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1239 {
  position:absolute;
  left:220px;
  top:269px;
  width:53px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1241 {
  position:absolute;
  left:283px;
  top:270px;
  width:77px;
  height:18px;
}
#u1241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1242 {
  position:absolute;
  left:221px;
  top:339px;
  width:69px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1244 {
  position:absolute;
  left:318px;
  top:340px;
  width:609px;
  height:18px;
}
#u1244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:18px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1245 {
  position:absolute;
  left:509px;
  top:266px;
  width:81px;
  height:22px;
}
#u1245_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 209, 210, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1245.selected {
}
#u1245_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1245.disabled {
}
#u1246 {
  position:absolute;
  left:2px;
  top:3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1247 {
  position:absolute;
  left:432px;
  top:267px;
  width:69px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1248 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1249 {
  position:absolute;
  left:511px;
  top:268px;
  width:77px;
  height:18px;
}
#u1249_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1250 {
  position:absolute;
  left:221px;
  top:305px;
  width:69px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1252 {
  position:absolute;
  left:306px;
  top:305px;
  width:90px;
  height:22px;
}
#u1252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1252_input:disabled {
  color:grayText;
}
#u1253 {
  position:absolute;
  left:406px;
  top:304px;
  width:90px;
  height:22px;
}
#u1253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1253_input:disabled {
  color:grayText;
}
#u1254 {
  position:absolute;
  left:506px;
  top:304px;
  width:90px;
  height:22px;
}
#u1254_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1254_input:disabled {
  color:grayText;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1255 {
  position:absolute;
  left:470px;
  top:230px;
  width:69px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1257 {
  position:absolute;
  left:220px;
  top:232px;
  width:53px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1258 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1260 {
  position:absolute;
  left:281px;
  top:231px;
  width:81px;
  height:22px;
}
#u1260_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 209, 210, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1260.selected {
}
#u1260_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1260.disabled {
}
#u1261 {
  position:absolute;
  left:2px;
  top:3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262 {
  position:absolute;
  left:283px;
  top:233px;
  width:77px;
  height:18px;
}
#u1262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:22px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1263 {
  position:absolute;
  left:555px;
  top:230px;
  width:17px;
  height:22px;
  font-size:16px;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1265 {
  position:absolute;
  left:219px;
  top:451px;
  width:101px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1267 {
  position:absolute;
  left:330px;
  top:450px;
  width:611px;
  height:86px;
}
#u1267_input {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:86px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1268 {
  position:absolute;
  left:220px;
  top:612px;
  width:805px;
  height:28px;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u1269 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:23px;
}
#u1271 {
  position:absolute;
  left:33px;
  top:0px;
  width:167px;
  height:23px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:2px;
  width:163px;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1273 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:23px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1275 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:23px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1277 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:23px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1279 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:23px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1281 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:23px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1283 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:23px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1285 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1286 {
  position:absolute;
  left:220px;
  top:642px;
  width:805px;
  height:74px;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
}
#u1287 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:23px;
}
#u1289 {
  position:absolute;
  left:31px;
  top:0px;
  width:169px;
  height:23px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1291 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:23px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1293 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:23px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1295 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:23px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1297 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:23px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1299 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:23px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1301 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:23px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
}
#u1303 {
  position:absolute;
  left:0px;
  top:23px;
  width:31px;
  height:23px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u1305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:23px;
}
#u1305 {
  position:absolute;
  left:31px;
  top:23px;
  width:169px;
  height:23px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  word-wrap:break-word;
}
#u1307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1307 {
  position:absolute;
  left:200px;
  top:23px;
  width:100px;
  height:23px;
}
#u1308 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1309 {
  position:absolute;
  left:300px;
  top:23px;
  width:100px;
  height:23px;
}
#u1310 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1311 {
  position:absolute;
  left:400px;
  top:23px;
  width:100px;
  height:23px;
}
#u1312 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1313 {
  position:absolute;
  left:500px;
  top:23px;
  width:100px;
  height:23px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1315 {
  position:absolute;
  left:600px;
  top:23px;
  width:100px;
  height:23px;
}
#u1316 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1317 {
  position:absolute;
  left:700px;
  top:23px;
  width:100px;
  height:23px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
}
#u1319 {
  position:absolute;
  left:0px;
  top:46px;
  width:31px;
  height:23px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u1321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:23px;
}
#u1321 {
  position:absolute;
  left:31px;
  top:46px;
  width:169px;
  height:23px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:4px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1323 {
  position:absolute;
  left:200px;
  top:46px;
  width:100px;
  height:23px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1325 {
  position:absolute;
  left:300px;
  top:46px;
  width:100px;
  height:23px;
}
#u1326 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1327 {
  position:absolute;
  left:400px;
  top:46px;
  width:100px;
  height:23px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1329 {
  position:absolute;
  left:500px;
  top:46px;
  width:100px;
  height:23px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1331 {
  position:absolute;
  left:600px;
  top:46px;
  width:100px;
  height:23px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1333 {
  position:absolute;
  left:700px;
  top:46px;
  width:100px;
  height:23px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1335 {
  position:absolute;
  left:674px;
  top:230px;
  width:101px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1337 {
  position:absolute;
  left:785px;
  top:230px;
  width:71px;
  height:22px;
}
#u1337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1337_input:disabled {
  color:grayText;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1338 {
  position:absolute;
  left:302px;
  top:370px;
  width:638px;
  height:22px;
}
#u1338_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 209, 210, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1338.selected {
}
#u1338_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1338.disabled {
}
#u1339 {
  position:absolute;
  left:2px;
  top:3px;
  width:634px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1340 {
  position:absolute;
  left:220px;
  top:371px;
  width:69px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:right;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1342 {
  position:absolute;
  left:317px;
  top:372px;
  width:609px;
  height:18px;
}
#u1342_input {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:18px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1343 {
  position:absolute;
  left:706px;
  top:299px;
  width:69px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:right;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1345 {
  position:absolute;
  left:785px;
  top:297px;
  width:71px;
  height:22px;
}
#u1345_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1345_input:disabled {
  color:grayText;
}
